h1 {
    font-family: "Times New Roman", Times, serif;
}

p:first-of-type {
    font-family: Arial, Helvetica, sans-serif;
}

p:nth-of-type(2) {
    font-family: Verdana, Geneva, sans-serif;
}

code {
    font-family: "Courier New", Courier, monospace;
}